<!DOCTYPE html>
<html lang="kr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <title>관리자 페이지</title>
</head>
<body>
<div class="header" style="display: inline-block">
    <h1 style="color: white; display: inline-block;">다이스 관리자 페이지</h1>
</div>
<form id="upload" enctype="multipart/form-data" action="/upload" method="POST">
    <div class="upload">
        <p>
            <label for="imgInp" style="vertical-align: top;">게임 이미지 </label>
            <img id="img" style="vertical-align: bottom; border: 0; width: 100px; height: 100px ;"/>
            <input name="img" type='file' id="imgInp" accept="image/*"/>
        </p>
        <label for="title">게임 제목 </label><input name="title" type="text" id="title">
        <p>
            <label for="context">게임 소개 </label><input name="context" id="context" type="text" style="height: 100px; width: 300px;">
        </p>
        <p>
            <label for="genre">게임 장르 </label><select name="genre" id="genre">
            <option value="">===장르를 선택해 주세요===</option>
            <option value="추리">추리</option>
            <option value="모험">모험</option>
            <option value="파티">파티</option>
            <option value="두뇌">두뇌</option>
            <option value="배팅 & 협력">배팅 & 협력</option>
            <option value="전략">전략</option>
        </select> <label for="age">사용 연령 </label><input name="age" id="age" type="text">
        </p>
        <p>
            <label for="headcount">게임 인원 수 </label><input name="headcount" id="headcount" type="text"> <label  for="difficulty">게임 난이도 </label><select name="difficulty" id="difficulty">
            <option value="">====난이도를 선택해 주세요===</option>
            <option value="하">하</option>
            <option value="중">중</option>
            <option value="상">상</option>
        </select>
        </p>
        <p>
            <label for="time">게임 소요 시간 </label><input name="time" id="time" type="text"> <label for="price">게임 가격 </label><input name="price" id="price" type="text">
        </p>
        <p>
            <label for="imgInp1" style="vertical-align: top;">게임 규칙 </label>
            <img id="img1" style="vertical-align: bottom; border: 0; width: 100px; height: 100px ;"/>
            <input name="img1" type='file' id="imgInp1" accept="image/*"/>
        </p>
        <p>
            <label for="imgInp2" style="vertical-align: top;">  </label>
            <img id="img2" style="vertical-align: bottom; border: 0; width: 100px; height: 100px ;"/>
            <input name="img2" type='file' id="imgInp2" accept="image/*"/>
        </p>
        <p>
            <label for="imgInp3" style="vertical-align: top;">  </label>
            <img id="img3" style="vertical-align: bottom; border: 0; width: 100px; height: 100px ;"/>
            <input name="img3" type='file' id="imgInp3" accept="image/*"/>
        </p>
        <p>
            <label for="imgInp4" style="vertical-align: top;"> </label>
            <img id="img4" style="vertical-align: bottom; border: 0; width: 100px; height: 100px ;"/>
            <input name="img4" type='file' id="imgInp4" accept="image/*"/>
        </p>
        <input class="button" type="submit" value="정보 업로드" onclick="check()">
        <script>
            function check() {
                if (document.getElementById("title").value == "") {
                    alert("게임 제목을 입력해주세요");
                    return false;
                }
                else if (document.getElementById("context").value == "") {
                    alert("게임 설명을 입력해주세요");
                    return false;
                }
                else if (document.getElementById("genre").value == "") {
                    alert("장르를 입력해주세요");
                    return false;
                }
                else if (document.getElementById("age").value == "") {
                    alert("사용 연령을 입력해주세요");
                    return false;
                }
                else if (document.getElementById("headcount").value == "") {
                    alert("게임 인원 수를 입력해주세요");
                    return false;
                }
                else if (document.getElementById("difficulty").value == "") {
                    alert("게임 난이도를 입력해주세요");
                    return false;
                }
                else if (document.getElementById("time").value == "") {
                    alert("게임 소요 시간을 입력해주세요");
                    return false;
                }
                else if (document.getElementById("price").value == "") {
                    alert("게임 가격을 입력해주세요");
                    return false;
                }
                else {
                    alert("정보가 업로드 되었습니다.")
                    document.upload.submit();
                }
            }
        </script>
    </div>
</form>

<div class="footer">
    copyright © DICE, all rights reserved.
</div>
<style>
    label {
        width: 150px;
        display: inline-block;
        font-weight: bold;
    }
    input , select{
        display: inline-block;
        width: 200px;
    }
    .submit {
        width: 100px;
    }

    body {
        margin: 0px auto;
    }
    .header {
        width: 100%;
        height: 100px;
        overflow: hidden;
        background-color: rgb(72, 72, 72);
        box-shadow: 2px 2px 2px darkgrey;
    }
    .upload {
        height: 1000px;
        max-width: 786px;
        margin: 0px auto;
    }
    .footer {
        height: 120px;
        width: 100%;
        background: lightslategray;
        text-align: center;
        line-height: 120px;
        color: white;
    }

</style>

</body>
<script type="text/javascript">
    function readURL(input, imgName) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                $(imgName).attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function() {
        readURL(this, "#img");
    });
    $("#imgInp1").change(function() {
        readURL(this, "#img1");
    });
    $("#imgInp2").change(function() {
        readURL(this, "#img2");
    });
    $("#imgInp3").change(function() {
        readURL(this, "#img3");
    })
    $("#imgInp4").change(function() {
        readURL(this, "#img4");
    });


</script>
</html>