.content {
    width: 100%;
}
.shadowbox {
    height: 38px;
    width: 100%;
    box-shadow: gray 0px 3px 3px;
}
.contbox {
    min-height: 659px;
    width: 80%;
    margin: auto;
    font-family: "Nanum Gothic";
}
.search_query {
    padding-left: 40px;
    line-height: 80px;
    font-weight: bold;
    color: gray;
}
.search_query > span {
    color: #0e90d2;
}
.search_result {
    position: relative;
    min-height: 659px;
    width: 100%;
}
.non_blocksIt {
    width: 20%;
    height: 350px;
    position: relative;
}
.non_blocksIt a {
    text-decoration: none;
    color: black;
}
.search_imgbox {
    position: absolute;
    left: calc(50% - 100px);
    top: 20px;
    width: 200px;
    height: 200px;
    background: white;
}
.search_imgbox img {
    height: auto;
    width: 100%;
}
.search_context {
    position: absolute;
    top: 230px;
    width: 100%;
    text-align: center;
}
.search_context > div {
    line-height: 30px;
}
.search_title {
    font-size: 18px;
    font-weight: bold;
}
.search_context > input {
    border-radius: 5px;
    background: #537bc8;
    color: white;
    font-weight: bold;
    border: 0px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}